langchain
langchain-google-genai
langgraph
pydantic
python-dotenv
rich
chromadb
langchain-chroma
langchain-huggingface
sentence-transformers
langchain-groq
langchain-ollama
zyndai-agent
langchain-openai
pytest
python-telegram-bot
streamlit
langgraph-checkpoint-sqlite
